name: PullRequestTargetOpenedOrUpdated
run-name: ${{ github.actor }} has submitted a pull request
on:
  workflow_dispatch:
#  pull_request_target:
#    types: [opened, reopened, synchronize]

jobs:
  PushToCI:
    runs-on: ubuntu-latest
    steps:
      - name: DumpEnvironment
        uses: asterisk/asterisk-ci-actions/DumpEnvironmentAction@main

#  UnitTests:
#    uses: ./.github/workflows/RunUnitTests.yml
#    with:
#      pr-number: ${{ github.event.pull_request.number }}
#      pr-repo: ${{ github.event.repository.full_name }}
#    secrets: inherit
    