name: PROpenedOrUpdated
run-name: "PR ${{github.event.number}} : Opened, reopened or updated by ${{ github.actor }}"
on:
#  workflow_dispatch:
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  AsteriskUnitTests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/asterisk/asteriskci-agent-rocky8:latest
    steps:
      - name: DumpEnvironment
        uses: asterisk/asterisk-ci-actions/DumpEnvironmentAction@main

      - name: Run Unit Tests
        uses: asterisk/asterisk-ci-actions/RunAsteriskUnitTests@main
        with:
          asterisk-repo:    ${{ github.repository }}
          pr-number:        ${{ github.event.number }}
          pr-commit:        ${{ github.event.pull_request.head.sha }}
          base-branch:      ${{ github.event.pull_request.base.ref }}
          github-token:     ${{ secrets.GITHUB_TOKEN }}
          unittest-command: ${{ vars.UNITTEST_COMMAND }}
          modules-blacklist: ${{ vars.UNITTEST_MODULES_BLACKLIST }}
